<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <link rel="stylesheet" href="<%= BASE_URL %>css/themify-icons.css">
  <title><%= htmlWebpackPlugin.options.title %></title>

</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <script src="<%= BASE_URL %>js/vendor/modernizr-3.5.0.min.js"></script>
  <script src="<%= BASE_URL %>js/vendor/jquery-1.12.4.min.js"></script>
  <script src="<%= BASE_URL %>js/popper.min.js"></script>
  <script src="<%= BASE_URL %>js/bootstrap.min.js"></script>
  <script src="<%= BASE_URL %>js/owl.carousel.min.js"></script>
  <script src="<%= BASE_URL %>js/isotope.pkgd.min.js"></script>
  <script src="<%= BASE_URL %>js/ajax-form.js"></script>
  <script src="<%= BASE_URL %>js/waypoints.min.js"></script>
  <script src="<%= BASE_URL %>js/jquery.counterup.min.js"></script>
  <script src="<%= BASE_URL %>js/imagesloaded.pkgd.min.js"></script>
  <script src="<%= BASE_URL %>js/scrollIt.js"></script>
  <script src="<%= BASE_URL %>js/jquery.scrollUp.min.js"></script>
  <script src="<%= BASE_URL %>js/wow.min.js"></script>
  <script src="<%= BASE_URL %>js/nice-select.min.js"></script>
  <script src="<%= BASE_URL %>js/jquery.slicknav.min.js"></script>
  <script src="<%= BASE_URL %>js/jquery.magnific-popup.min.js"></script>
  <script src="<%= BASE_URL %>js/plugins.js"></script>
  <script src="<%= BASE_URL %>js/gijgo.min.js"></script>
  <!--contact js-->
  <script src="<%= BASE_URL %>js/contact.js"></script>
  <script src="<%= BASE_URL %>js/jquery.ajaxchimp.min.js"></script>
  <script src="<%= BASE_URL %>js/jquery.form.js"></script>
  <script src="<%= BASE_URL %>js/jquery.validate.min.js"></script>
  <script src="<%= BASE_URL %>js/mail-script.js"></script>
  <!-- built files will be auto injected -->
</body>

</html>