<template>
  <div class="About">
    <!-- header-end -->
    <!-- bradcam_area_start  -->
    <div class="bradcam_area breadcam_bg">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="bradcam_text">
              <h3>Acerca de TELE TRIAGE</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- En esta area se coloca una pequeña descripcion de la motivacion, con un boton
que tiene de vinculo  about.html para acceder a informacion del sistema como manuales de usuario

El logo se muestra como propuesta de que además de que nos reconozcan, reconozcan el logotipo -->
    <div class="welcome_clicnic_area">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6">
            <div class="welcome_thumb">
              <div class="thumb_1">
                <img  src="../assets/img/diseño-grande.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-lg-6">
            <div class="welcome_docmed_info">
              <h3>El proyecto
                <span>TELE TRIAGE</span></h3>
              <p>Nace como una iniciativa tejida en conjunto entre la Secretaria Distrital de Salud de Bogotá y la rama
                de Automatización y Robótica de la IEEE seccional Colombia. Quienes inspirados por apoyar y facilitar la
                labor del personal médico de Bogotá, en la identificación del CoVid 19, deciden convocar e incorporar
                abiertamente a profesionales voluntarios de diferentes partes del país, para que con sus aportes,
                conocimientos, experiencia y principalmente voluntad, desarrollaran una herramienta Web, que permitiera
                realizar el Triage de manera remota a los pacientes, sin que estos salieran de casa.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- welcome_end -->


    <!-- area complemento about -->
    <div class="welcome_clicnic_area">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6">
            <div class="welcome_docmed_info">
              <h3>¿Qué nos motivó?</h3>
              <p>Los eventos de contagio masivo y el crecimiento exponencial que ha venido presentado el CoVid 19 a
                nivel mundial y en especial, pensándose como una medida que apoyara la mitigación de contagios del virus
                en el escenario local, a partir de la incorporación de alternativas basadas en TIC’s, que brindara apoyo
                al sistema de salud Colombiano.</p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="welcome_thumb">
              <div class="thumb_1">
                <img src="../assets/img/team.jpg" alt="">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- area complemento about -->


    <div class="welcome_clicnic_area">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6">
            <div class="welcome_thumb">
              <div class="thumb_1">
                <img  src="../assets/img/logo-color.png" alt="">
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-lg-6">
            <div class="welcome_docmed_info">
              <h3>¿De qué trata?</h3>
              <p>Es un aplicativo Web Open Source, diseñado como una herramienta de apoyo en las consultas médicas tele
                asistidas, para facilitar al personal de salud, la identificación de los síntomas del COVID -19, basado
                en una matriz de diagnóstico, que contiene los síntomas característicos producidos por el virus,
                entregando su correspondiente nivel de urgencia en una escala de Triage.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- welcome_end -->

    <!-- expert_doctors_area_start -->
    <div class="expert_doctors_area p-0">
      <div class="container">
        <div class="row justify-content-center ">
          <div class="col-lg-6">
            <div class="section_title mb-55 text-center">
              <h3>Entidades de Trabajo</h3>
              <p>La vida es 10% lo que experimentas y 90% cómo respondes a ello.</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6">
            <div class="single_expert">
              <div class="expert_thumb">
                <a  href="https://site.ieee.org/sb-usil/communities/robotics-automation-society-chapter/">
                  
                  <img class="img" src="../assets/img/IEEE_RAS_logo_600.png" alt="RAS">
                </a>
              </div>
              <div class="experts_name text-center">
                <h3>IEEE Robotics & Automation Society</h3>
                <span>descripcion</span>

              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single_expert">
              <div class="expert_thumb">
                <a href="https://ieee.org.co/">
                  <img class="img" src="../assets/img/LOGO-IEEE-COLOMBIA.png" alt="RAS">
                </a>
              </div>
              <div class="experts_name text-center">
                <h3>The Institute of Electrical and Electronics Engineers</h3>
                <span>descripcion</span>

              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single_expert">
              <div class="expert_thumb">
                <a href="http://www.saludcapital.gov.co/" target="_blank">
                  <img class="img" src="../assets/img/alcaldiac_logo.png" alt="Secretaría de salud de Bogotá">
                </a>
              </div>
              <div class="experts_name text-center">
                <h3>Secretaría de Salud de Bogotá</h3>
                <span>descripcion</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- expert_doctors_area_end -->

    <!-- quality_area_start  -->
    <div class="quality_area" v-if="adminWindenabled"> 
      <div class="container">
        <div class="row justify-content-center ">
          <div class="col-lg-6">
            <div class="section_title mb-55 text-center">
              <h3>Estadísticas</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="single_quality">
              <div class="icon">
                <i class="flaticon-customer-service"></i>
              </div>
              <h3>Consultas realizadas</h3>
              <p>agragar  metodo para obtener la cantidad de consultas</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single_quality">
              <div class="icon">
                <i class="flaticon-find"></i>
              </div>
              <h3>Centros medicos </h3>
              <p>agragar  metodo para obtener los centros medicos</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single_quality">
              <div class="icon">
                <i class="flaticon-doctor"></i>
              </div>
              <h3>Doctores registrados</h3>
              <p>agragar  metodo para obtener la cantidad de doctores registrados</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="card-shadow-danger mb-3 widget-chart widget-chart2 text-left card">
              <div class="widget-content">
                <div class="widget-content-outer">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left pr-2 fsize-1">
                      <div class="widget-numbers mt-0 fsize-3 text-danger">71%</div>
                    </div>
                    <div class="widget-content-right w-100">
                      <div class="progress-bar-xs progress">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100" style="width: 71%;"></div>
                      </div>
                    </div>
                  </div>
                  <div class="widget-content-left fsize-1">
                    <div class="text-muted opacity-6">Income Target</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="card-shadow-success mb-3 widget-chart widget-chart2 text-left card">
              <div class="widget-content">
                <div class="widget-content-outer">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left pr-2 fsize-1">
                      <div class="widget-numbers mt-0 fsize-3 text-success">54%</div>
                    </div>
                    <div class="widget-content-right w-100">
                      <div class="progress-bar-xs progress">
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100" style="width: 54%;"></div>
                      </div>
                    </div>
                  </div>
                  <div class="widget-content-left fsize-1">
                    <div class="text-muted opacity-6">Expenses Target</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="card-shadow-warning mb-3 widget-chart widget-chart2 text-left card">
              <div class="widget-content">
                <div class="widget-content-outer">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left pr-2 fsize-1">
                      <div class="widget-numbers mt-0 fsize-3 text-warning">32%</div>
                    </div>
                    <div class="widget-content-right w-100">
                      <div class="progress-bar-xs progress">
                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%;"></div>
                      </div>
                    </div>
                  </div>
                  <div class="widget-content-left fsize-1">
                    <div class="text-muted opacity-6">Spendings Target</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="card-shadow-info mb-3 widget-chart widget-chart2 text-left card">
              <div class="widget-content">
                <div class="widget-content-outer">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left pr-2 fsize-1">
                      <div class="widget-numbers mt-0 fsize-3 text-info">9%</div>
                    </div>
                    <div class="widget-content-right w-100">
                      <div class="progress-bar-xs progress">
                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100" style="width: 9%;"></div>
                      </div>
                    </div>
                  </div>
                  <div class="widget-content-left fsize-1">
                    <div class="text-muted opacity-6">Totals Target</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-12">
            <div class="mb-3 card">
              <div class="card-header-tab card-header">
                <div class="card-header-title">
                  <i class="header-icon lnr-rocket icon-gradient bg-tempting-azure"> </i>
                  Reporte de remisiones médicas
                </div>

              </div>
              <div class="tab-content">
                <div class="tab-pane fade active show" id="tab-eg-55">
                  <div class="widget-chart p-3">
                    <div style="height: 350px">
                      <canvas id="line-chart"></canvas>
                    </div>
                    <div class="widget-chart-content text-center mt-5">
                      <div class="widget-description mt-0 text-warning">
                        <i class="fa fa-arrow-left"></i>
                        <span class="pl-1">175.5%</span>
                        <span class="text-muted opacity-8 pl-1">increased server resources</span>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "About",
  components: {

  },
  data(){
    return{
      adminWindenabled: false
    }
  }
};
</script>

<style>

</style>
