<template>
  <div class="credits">
    <div class="bradcam_area breadcam_bg_2">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="bradcam_text">
              <h3>Créditos</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="welcome_clicnic_area">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6">
            <div class="welcome_thumb">
              <div class="thumb_1">
                <img src="../assets/img/logo-color.png" alt />
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="welcome_docmed_info">
              <h3>
                Bienvenido a
                <span>TELETRIAGE</span>
              </h3>
              <p>
                Conforme a los eventos de contagio masivo
                y de crecimiento exponencial del CoVid 19,
                presentados a nivel mundial, se busca mitigar
                el contagio masivo, brindando un alivio al
                sistema de salud de Colombia, con alternativas basadas en TIC's.
              </p>

              <a href="about.html" class="boxed-btn6">Acerca del sistema</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- welcome_end -->

    <!-- Dessarrolladores adjuntos al proyecto -->
    <div class="expert_doctors_area p-0">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="section_title mb-55 text-center">
              <h3>Nuestros Desarrolladores</h3>
              <span>“El que no vive para servir, no sirve para vivir.”</span>
              <p>Teresa de Calcuta </p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <Volunteer
            v-for="volunteer in volunteers"
            :img-src="volunteer.image"
            :name="volunteer.name"
            :role="volunteer.role"
            :email="volunteer.email"
            :linked-in="volunteer.linkedIn"
            :twitter="volunteer.twitter"
            v-bind:key="volunteer.name"
          ></Volunteer>
        </div>
      </div>
    </div>
    <!-- Final desarrolladores -->
  </div>
</template>

<script>
import Volunteer from "../components/Volunteer";

export default {
  components: {
    Volunteer: Volunteer
  },
  data: function() {
    return {
      volunteers: [
        {
          image: "daniel.jpg",
          name: "Daniel Jiménez Chísica",
          role: "Desarrollador Front-End",
          email: "danielchisica777@gmail.com",
          linkedIn: "https://www.linkedin.com/in/daniel-jim%C3%A9nez-ch%C3%ADsica-88a659a8/",
          twitter: ""
        },
        {
          image: "Jairo-Neuta.jpg",
          name: "Jairo Andrés Neuta Bernal",
          role: "Líder de proyecto",
          email: "",
          linkedIn: "https://www.linkedin.com/in/jaironeuta1/",
          twitter: "https://twitter.com/Jairo_neuta"
        },
        {
          image: "Johan-Tique.jpeg",
          name: "Johan Tique",
          role: "BBDD / Infraestructura",
          email: "",
          linkedIn: "",
          twitter: ""
        },
        {
          image: "Jonathan-Capera.jpg",
          name: "Jonathan Capera",
          role: "Desarrollador Front-End",
          email: "",
          linkedIn: "http://www.linkedin.com/in/jcaperab",
          twitter: "https://twitter.com/JonathanCaperaB"
        },
        {
          image: "José-Cordoba.jpeg",
          name: "José Manuel Córdoba Castillo",
          role: "Líder técnico",
          email: "",
          linkedIn: "https://www.linkedin.com/in/jose-m-cordoba/",
          twitter: "jose_m_cordoba_"
        },
        {
          image: "Juan-Rodriguez.jpg",
          name: "Juan Andres Rodriguez Arenas",
          role: "Desarrollador Front-End",
          email: "",
          linkedIn: "",
          twitter: ""
        },
        {
          image: "Lily-Estefanía-Vargas-Díaz.jpg",
          name: "Lily Estefanía Vargas Díaz",
          role: "Requerimientos / Pruebas",
          email: "",
          linkedIn: "https://www.linkedin.com/in/levd",
          twitter: "https://ieee-collabratec.ieee.org/app/p/LilyVargasDiaz49552"
        },
        {
          image: "Lina-Vera.jpg",
          name: "Lina Vera",
          role: "Desarrolladora Front-End",
          email: "",
          linkedIn: "",
          twitter: ""
        },
        {
          image: "Oscar-Javier-Rodríguez.jpg",
          name: "Oscar Javier Rodríguez Riveros",
          role: "Pruebas",
          email: "",
          linkedIn: "oskrj",
          twitter: "https://www.linkedin.com/in/oskrj/ "
        },
        {
          image: "Ronald.jpg",
          name: "Ronald Gutiérrez",
          role: "Comunicaciones",
          email: "",
          linkedIn: "",
          twitter: ""
        },
        {
          image: "Jaime-Chavarriaga.jpg",
          name: "Jaime Chavarriaga",
          role: "Infraestructura",
          email: "",
          linkedIn: "",
          twitter: ""
        },
        {
          image: "Alber-Ivan-Sanchez A..jpg",
          name: "Alber Ivan Sanchez",
          role: "Desarrollador Front-End",
          email: "",
          linkedIn: "",
          twitter: ""
        },
        {
          image: "MichaelSandoval.jpeg",
          name: "Michael Sandoval",
          role: "Desarrollo Front end",
          email: "",
          linkedIn: "https://www.linkedin.com/in/michael-stifh-sandoval-gonzalez-586492199/",
          twitter: ""
        },
        {
          image: "",
          name: "Gerson Augusto Gómez",
          role: "Infraestructura / Backend",
          email: "",
          linkedIn: "",
          twitter: ""
        },
        {
          image: "",
          name: "Juan Camilo Rocha Caicedo",
          role: "Desarrollo Front end",
          email: "",
          linkedIn: "",
          twitter: ""
        },
        {
          image: "",
          name: "Dorian Ferney",
          role: "Desarrollo Front end",
          email: "",
          linkedIn: "linkedin.com/in/dorianrallon/",
          twitter: "DorianRallon"
        },
        {
          image: "",
          name: "Esteban Herrera Gomez",
          role: "Desarrollo Front end",
          email: "",
          linkedIn: "",
          twitter: ""
        },
        {
          image: "",
          name: "Daniel Jimenez Alarcon",
          role: "Desarrollo Front end",
          email: "",
          linkedIn: "",
          twitter: ""
        },
        {
          image: "",
          name: "Jessica Paola Hernandez",
          role: "Pruebas",
          email: "jessica.hernandez@ieee.org",
          linkedIn: "www.linkedin.com/in/jephernandezgo",
          twitter: ""
        },
        {
          image: "",
          name: "Sebastián Cruz",
          role: "Desarrollo Front end",
          email: "",
          linkedIn: "",
          twitter: ""
        },
        
      ]
    };
  }
};
</script>

<style>
.circular--square {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}
</style>
