<template>
  <div class="book_apointment_area">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-lg-7">
          <div class="popup_box">
            <div class="popup_inner">
              <h3>Registrar un paciente</h3>
              <form action="#" v-show="!loading">
                <div class="row">
                  <div class="col-xl-12 mb-3">
                    <Municipalities v-model="patient.city" :value="patient.city" />
                  </div>
                  <div
                    class="col-xl-12"
                    v-show="patient.city && patient.city.name == 'BOGOTÁ (BOGOTÁ D.C., COLOMBIA)'"
                  >
                    <input type="hidden" id="hflocal" v-model="patient.location" />
                    <select
                      style="display: none;"
                      class="form-select wide"
                      id="patient-location"
                      onchange="
                      document.getElementById('hflocal').value = this.options[this.selectedIndex].value ;
                      document.getElementById('hflocal').dispatchEvent(new Event('input'));"
                    >
                      <option
                        data-display="Localidad donde reside (Sólo Bogotá)"
                      >Sólo aplica para Bogotá.</option>
                      <option
                        v-for="(l,inxl) in localities"
                        :key="'lp'+inxl"
                        :value="l.name"
                      >{{l.name}}</option>
                    </select>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <v-select
                      :options="['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre']"
                      v-model="patient.agemonth"
                      :value="patient.agemonth"
                      placeholder="Mes de nacimiento."
                    ></v-select>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <v-select
                      :options="[2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988, 1987, 1986, 1985, 1984, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976, 1975, 1974, 1973, 1972, 1971, 1970, 1969, 1968, 1967, 1966, 1965, 1964, 1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953, 1952, 1951, 1950, 1949, 1948, 1947, 1946, 1945, 1944, 1943, 1942, 1941, 1940, 1939, 1938, 1937, 1936, 1935, 1934, 1933, 1932, 1931, 1930, 1929, 1928, 1927, 1926, 1925, 1924, 1923, 1922, 1921,1920,1919,1918,1917,1916,1915,1914,1913,1912,1911,1910]"
                      v-model="patient.ageyear"
                      :value="patient.ageyear"
                      placeholder="Año de nacimiento."
                    ></v-select>
                  </div>
                  <!-- <div class="col-xl-12 mb-3">
                    <v-select
                      :options="['Menor de 3 meses','De 3 meses y menor a 2 años',
                      'De 2 años y menor a 5 años','De 5 años y menor a 12 años','De 12 años y menor a 65 años',
                      'Mayor de 65 años']"
                      v-model="patient.agecategory"
                      :value="patient.agecategory"
                      placeholder="Seleccione el rango de edad del paciente."
                    ></v-select>
                  </div> -->
                  <div class="col-xl-12 mb-3">
                    <v-select
                      :options="['Femenino','Masculino']"
                      v-model="patient.gender"
                      :value="patient.gender"
                      placeholder="Seleccione el genero del paciente."
                    ></v-select>
                  </div>

                  <div class="col-xl-12 mb-3">
                    <Eps v-model="patient.eps" :value="patient.eps" />
                  </div>

                  <div class="col-xl-12">
                    <b-link
                      @click="setPatient"
                      :class="['boxed-btn3', (patient.city == null || patient.eps == null|| patient.agemonth == null || patient.ageyear == null || patient.gender == null) ? 'btn-disabled' : '']"
                      :disabled="patient.city == null || patient.eps == null|| patient.agemonth == null|| patient.ageyear == null || patient.gender == null"
                    >Empezar la prueba</b-link>
                  </div>
                </div>
              </form>
              <div v-show="loading">Cargando...</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

function getAge(birthDate, ageAtDate) {
    var daysInMonth = 30.436875; // Days in a month on average.
    var dob = new Date(birthDate);
    var aad;
    if (!ageAtDate) aad = new Date();
    else aad = new Date(ageAtDate);
    var yearAad = aad.getFullYear();
    var yearDob = dob.getFullYear();
    var years = yearAad - yearDob; // Get age in years.
    dob.setFullYear(yearAad); // Set birthday for this year.
    var aadMillis = aad.getTime();
    var dobMillis = dob.getTime();
    if (aadMillis < dobMillis) {
        --years;
        dob.setFullYear(yearAad - 1); // Set to previous year's birthday
        dobMillis = dob.getTime();
    }
    var days = (aadMillis - dobMillis) / 86400000;  
    var monthsDec = days / daysInMonth; // Months with remainder.
    var months = Math.floor(monthsDec); // Remove fraction from month.
    days = Math.floor(daysInMonth * (monthsDec - months));
    return {years: years, months: months, days: days};
}

// @ is an alias to /src
import Municipalities from "@/components/Municipalities.vue";
import Eps from "@/components/Eps.vue";

export default {
  components: {
    Municipalities,
    Eps
  },
  data: function() {
    return {
      loading: true,
      patient: {
        city: null,
        agecategory: null,
        gender: null,
        eps: null,
        agemonth: null,
        ageyear: null,
        age:null,
        location_id:0,
        agerange:0
      },
    };
  },
  name: "diagnostic",
  methods: {
    setPatient() {
      var monthnumber =  ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'].indexOf(this.patient.agemonth)
      var age = getAge(new Date(this.patient.ageyear,monthnumber,1), Date.now())
      if(age.years < 1 && age.months < 3) {
        this.patient.agecategory = 'Menor de 3 meses'
        this.patient.agerange = 1
      }else if((age.years < 1 && age.months < 3)===false && age.years < 2) {
        this.patient.agecategory = 'De 3 meses y menor a 2 años'
        this.patient.agerange = 2
      }else if(age.years >= 2 && age.years < 5) {
        this.patient.agecategory = 'De 2 años y menor a 5 años'
        this.patient.agerange = 3
      }else if(age.years >= 5 && age.years < 12) {
        this.patient.agecategory = 'De 5 años y menor a 12 años'
        this.patient.agerange = 4
      }else if(age.years >= 12 && age.years < 65) {
        this.patient.agecategory = 'De 12 años y menor a 65 años'
        this.patient.agerange = 5
      }else if(age.years >= 65) {
        this.patient.agecategory = 'Mayor de 65 años'
        this.patient.agerange = 6
      }
      this.patient.age=age.years
      if(this.patient.city.name === 'BOGOTÁ (BOGOTÁ D.C., COLOMBIA)'){
        let locality=this.patient.location
        this.patient.location_id=this.localities.filter(function (location) { return location.name===locality})
                .map(location=>location.id)[0]
      }
      this.$store.dispatch("setNoxa", 'Noxa de contagio').then(()=>{
        this.$store.dispatch("setPatient", this.patient).then(() => {
          this.$router.push({ name: "init-questions" });
        });
      })
    }
  },
  async mounted() {
    await this.$store.dispatch("getLocalities");
    await this.$store.dispatch("getSpecialties");
    await this.$store.dispatch("getQuestions");
    this.loading = false;

    var patiente = this.$store.getters.patient;
    if (patiente.agecategory != "") {
      this.patient.agecategory = patiente.agecategory;
      this.patient.city = patiente.city;
      this.patient.eps = patiente.eps;
      this.patient.gender = patiente.gender;
      this.patient.location = patiente.location;
      this.patient.location_id=patiente.location_id;
      this.patient.agemonth = patiente.agemonth;
      this.patient.ageyear = patiente.ageyear;
      this.patient.agerange =patiente.agerange
    }
  },
  computed: {
    questions() {
      return this.$store.getters.questions;
    },
    localities() {
      return this.$store.getters.localities;
    },
    specialties() {
      return this.$store.getters.specialties;
    }
  }
};
</script>

<style>
.popup_box {
  background: rgba(255, 255, 255, 0.7);
}

.popup_box .nice-select.open .list {
  height: unset;
  max-height: 300px;
  overflow-y: auto;
}

.btn-disabled {
  background: #9b9b9b !important;
  cursor: not-allowed;
}

.btn-disabled:hover {
  color: white !important;
  border: 1px solid transparent !important;
}

.vs__search,
.vs__search:focus {
  height: 30px !important;
  -webkit-appearance: none;
  -moz-appearance: none !important;
  appearance: none !important;
  line-height: 1.4;
  font-size: 1em !important;
  border: 1px solid transparent !important;
  border-left: none !important;
  outline: none;
  margin: 4px 0 0;
  padding: 0 7px !important;
  background: none;
  box-shadow: none;
  width: 0 !important;
  max-width: 100%;
  flex-grow: 1;
  margin-left: 8px;
}
.vs__search:focus {
  height: 50px !important;
}
.vs__actions {
  display: flex;
  align-items: center;
  padding: 4px 28px 0 3px;
}

.vs--single.vs--open .vs__selected {
  position: absolute;
  opacity: 0.4;
  top: 15px;
}
.vs__selected {
  margin-left: 8px;
  color: #919191;
}
.vs__clear {
  fill: rgba(60, 60, 60, 0.5);
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 3px;
}

.popup_box input {
  width: 100%;
  height: 60px;
  border: 1px solid #b7b7b7;
  padding: 15px;
  margin-bottom: 12.5px;
  margin-top: 12.5px;
  border-radius: 5px;
  font-size: 16px;
}
</style>
