<template>
  <div class="help">
    <!-- bradcam_area_start  -->
    <div class="bradcam_area breadcam_bg_1">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="bradcam_text">
              <h3>Ayuda</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- En esta area se coloca una pequeña descripcion de la motivacion, con un boton
que tiene de vinculo  about.html para acceder a informacion del sistema como manuales de usuario

El logo se muestra como propuesta de que además de que nos reconozcan, reconozcan el logotipo -->
    <div class="welcome_clicnic_area"  v-if="FAQs_enable">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6">
            <div class="welcome_thumb">
              <div class="thumb_1">
                <img  src="../assets/img/common_questions.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-lg-6">
            <div class="welcome_docmed_info">
              <h3><span>Preguntas Frecuentes</span></h3>
              <ul>
                <li><a href="#"> <i class="flaticon-verified"></i>iniciar sesion </a></li>
                <li><a href="#"> <i class="flaticon-verified"></i>recuperar contraseña </a></li>
                <li><a href="#"> <i class="flaticon-verified"></i>iniciar consulta </a></li>
                <li><a href="#"> <i class="flaticon-verified"></i>terminar consulta </a></li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- welcome_end -->
    <div class="whole-wrap">
      <div class="container box_1170">
      <div class="section-top-border">
        <h3 class="mb-30">Tipos de Triage</h3>
        <div class="progress-table-wrap">
          <div class="progress-table">
            <div class="table-head">
              <div class="country">Semaforización</div>
              <div class="country">Clasificación Triage</div>
              <div class="percentage">Descripción</div>
            </div>
            <div class="table-row">
              <div class="country red-cell cell">Rojo</div>
              <div class="country"> Triage I</div>
              <div class="percentage">Requiere atención inmediata. La condición clínica del paciente representa un riesgo
                vital y necesita maniobras de reanimación por su compromiso ventilatorio, respiratorio, hemodinámico o
                neurológico, perdida de miembro u órgano u otras condiciones que por norma exijan atención inmediata.
              </div>
            </div>
            <div class="table-row">
              <div class="country red-cell cell">Rojo</div>
              <div class="country">Triage II</div>
              <div class="percentage">Requiere atención inmediata. La condición clínica del paciente representa un
                riesgo vital y necesita maniobras de reanimación por su compromiso ventilatorio, respiratorio,
                hemodinámico o neurológico, perdida de miembro u órgano u otras condiciones que por norma exijan
                atención inmediata.
              </div>
            </div>
            <div class="table-row">
              <div class="country red-cell cell">Rojo</div>
              <div class="country">Triage III</div>
              <div class="percentage">La condición clínica del paciente requiere de medidas diagnósticas y terapéuticas
                en urgencias. Son aquellos pacientes que necesitan un examen complementario o un tratamiento rápido,
                dado que se encuentran estables desde el punto de vista fisiológico aunque su situación puede empeorar
                si no se actúa.</div>
            </div>
            <div class="table-row">
              <div class="country yellow-cell cell">Amarillo</div>
              <div class="country">Triage IV</div>
              <div class="percentage">El paciente presenta condiciones médicas que no comprometen su estado general, ni
                representan un riesgo evidente para la vida o pérdida de miembro u órgano. No obstante, existen riesgos
                de complicación o secuelas de la enfermedad o lesión si no recibe la atención correspondiente.</div>
            </div>
            <div class="table-row">
              <div class="country green-cell cell">Verde</div>
              <div class="country">Triage V</div>
              <div class="percentage">El paciente presenta una condición clínica relacionada con problemas agudos o
                crónicos sin evidencia de deterioro que comprometa el estado general de paciente y no representa un
                riesgo evidente para la vida o la funcionalidad de miembro u órgano.</div>
          </div>
        </div>
      </div>
    </div></div>
    <!-- ================ contact section start ================= -->
    <section class="contact-section" v-if="contact_section_enable">
      <div class="container">

        <div class="row">
          <div class="col-12">
            <h2 class="contact-title">Ponte en contacto</h2>
          </div>
          <div class="col-lg-8">
            <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingrese su Mensaje'" placeholder="Ingrese su Mensaje"></textarea>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input class="form-control valid" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingrese su nombre'" placeholder="Ingrese su nombre">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input class="form-control valid" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingrese su correo'" placeholder="Ingrese su correo">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <input class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingrese el asunto'" placeholder="Ingrese el asunto">
                  </div>
                </div>
              </div>
              <div class="form-group mt-3">
                <button type="submit" class="button button-contactForm boxed-btn">Enviar</button>
              </div>
            </form>
          </div>
          <div class="col-lg-3 offset-lg-1">
            <div class="media contact-info">
              <span class="contact-info__icon"><i class="ti-home"></i></span>
              <div class="media-body">
                <h3>Bogotá, Colombia</h3>
                <p>Direccion</p>
              </div>
            </div>
            <div class="media contact-info">
              <span class="contact-info__icon"><i class="ti-tablet"></i></span>
              <div class="media-body">
                <h3>+57 3000000</h3>
                <p>Lunes a Viernes 9am a 5pm</p>
              </div>
            </div>
            <div class="media contact-info">
              <span class="contact-info__icon"><i class="ti-email"></i></span>
              <div class="media-body">
                <h3>tic@soporte.com</h3>
                <p>¡Envíanos tu consulta en cualquier momento!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ contact section end ================= -->



    <!-- Emergency_contact start -->
    <div class="Emergency_contact">
      <div class="Emergency_contact_inner ">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="single_emergency">
                <div class="info">
                  <span>Estamos aquí para usted</span>
                  <h3>Consulta el Manual</h3>
                </div>
                <div class="info_button">
                  <a  class="boxed-btn3-white" href="/Manual-de-usuario-TeleTriage.pdf" title="manual" target="_blank" > ver manual</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="single_emergency align-items-center d-flex justify-content-end">
                <div>
                  <img  src="@/assets/img/phone.svg" class="phone-icon"/>
                </div>
                <div class="info">
                  <span>Atención de emergencia</span>
                  <!--La secretaria debe suministrar el telefono de atencion 
                    <h3>+1-465 4545</h3>
                  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
  export default {
    data(){
        return{
        FAQs_enable:false,
        contact_section_enable: false
      }
    }
  };
  
</script>

<style>
  .phone-icon{
    height: 100px;
    width: 100px;
    margin-right: 50px;
  }

  .cell{
    color: white;
  }

  .country{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .red-cell{
    background-color: red;
  }

  .yellow-cell{
    background-color: yellow;
  }

  .green-cell{
    background-color: green;
  }
</style>
