<template>
  <div class="home">
    <div class="book_apointment_area">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-lg-7">
            <div class="popup_box">
              <div class="popup_inner">
                <p id="welcome1">Bienvenido a</p>
                <p id="welcome2">TELE TRIAGE</p>
                <div class="row">
                  <div class="col-xl-12 blog_details" id="blog-details">
                    <div class="quote-wrapper">
                      <div
                        class="quotes">
                        Una herramienta de apoyo en consulta médica, diseñada para facilitar al personal de salud, la identificación de los síntomas de COVID -19, a partir de un acompañamiento tele asistido a los pacientes.</div>
                    </div>
                  </div>
                  <div class="col-xl-12">
                    <br />
                    <br />

                    <b-link
                      v-if="isAuth"
                      class="boxed-btn3"
                      to="/diagnostic"
                    >Realizar nuevo diagnóstico</b-link>

                    <button v-else class="boxed-btn3" v-b-modal.Login_Modal>Ingresar al sistema</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  mounted: function() {
    this.$store.dispatch("getCompanies");
    this.$store.dispatch("getLocalities");
  },
  computed: {
    mensaje() {
      return this.$store.getters["mensaje"];
    },
    isAuth() {
      return this.$store.getters.isAuth;
    }
  }
};
</script>
<style>
#welcome1{
  font-size:36px;
}

#welcome2{
  font-size:40px;
  font-weight: bold;
}

#blog-details{
  padding-top: 40px;
}

.boxed-btn3,
.boxed-btn3-white {
  text-transform: none !important;
}

</style>
