<template>
    <div class="book_apointment_area">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-12">
                    <div class="popup_box" style="padding-top: 16px;">
                        <div class="popup_inner">
                            <div class="alert alert-primary" style="text-align: center;" role="alert">
                                Paciente
                                <b>{{patient.gender}}</b> con edad
                                <b style="text-transform: lowercase;">{{patient.agecategory}}</b>, afiliado a
                                <b>{{patient.eps.name}}</b>. Residente en
                                <b>{{patient.city.name}}</b>
                                <span v-if="patient.city.name == 'BOGOTÁ (BOGOTÁ D.C., COLOMBIA)'">
                                en la localidad de
                                <b>{{patient.location}}</b>
                                </span>.
                            </div>
                            <form action="#">
                                <div class="row">
                                    <div class="col-xl-8">
                                        <li class="list-group-item d-flex justify-content-between">
                                            ¿Ha tenido contacto cercano con casos positivos para CoVID-19?
                                        </li>
                                    </div>
                                    <div class="col-xl-2">
                                        <button type="button" :class="init_questions.questionsR['1']?'boxed-btn selected':'boxed-btn'"
                                        @click="changeResponse(1,true)">Si</button>
                                    </div>
                                    <div class="col-xl-2">
                                        <button type="button" :class="init_questions.questionsR['1']===false ?'boxed-btn selected':'boxed-btn'"
                                                @click="changeResponse(1,false)">No</button>
                                    </div>
                                    <div class="col-xl-8">
                                        <li class="list-group-item d-flex justify-content-between">
                                            ¿En su familia hay personas con síntomas respiratorios o gastrointestinales?
                                        </li>
                                    </div>
                                    <div class="col-xl-2">
                                        <button type="button" :class="init_questions.questionsR['2']?'boxed-btn selected':'boxed-btn'"
                                                @click="changeResponse(2,true)">Si</button>
                                    </div>
                                    <div class="col-xl-2">
                                        <button type="button" :class="init_questions.questionsR['2']===false ?'boxed-btn selected':'boxed-btn'"
                                                @click="changeResponse(2,false)">No</button>
                                    </div>
                                    <div class="col-xl-8">
                                        <li class="list-group-item d-flex justify-content-between">
                                            ¿Pertenece a algún grupo de riesgo ocupacional: Trabajadores de la Salud,
                                            Conductores de transporte público, personal que atiende a usuarios?
                                        </li>
                                    </div>
                                    <div class="col-xl-2">
                                        <button type="button" :class="init_questions.questionsR['3']?'boxed-btn selected':'boxed-btn'"
                                                @click="changeResponse(3,true)">Si</button>
                                    </div>
                                    <div class="col-xl-2">
                                        <button type="button" :class="init_questions.questionsR['3']===false ?'boxed-btn selected':'boxed-btn'"
                                                @click="changeResponse(3,false)">No</button>
                                    </div>
                                    <div class="col-xl-8">
                                        <li class="list-group-item d-flex justify-content-between">
                                            Mencione la fecha en la que presento los primeros síntomas.
                                        </li>
                                    </div>
                                    <div class="col-xl-4">
                                        <b-form-datepicker id="example-datepicker" :min="datePati" :max="max" v-model="init_questions.dateValue" @change="changeDate()"
                                                           class="mb-xl-4"></b-form-datepicker>
                                    </div>
                                    <div class="col-xl-8">
                                        <li class="list-group-item d-flex justify-content-between">
                                            ¿Desde el inicio de los síntomas, estos han mejorado o han empeorado?
                                        </li>
                                    </div>
                                    <div class="col-xl-2">
                                        <button type="button" :class="init_questions.questionsR['5']?'boxed-btn selected':'boxed-btn'"
                                                @click="changeResponse(5,true)">Mejorado</button>
                                    </div>
                                    <div class="col-xl-2">
                                        <button type="button" :class="init_questions.questionsR['5']===false ?'boxed-btn selected':'boxed-btn'"
                                                @click="changeResponse(5,false)">Empeorado</button>
                                    </div>
                                    <div class="col-xl-12">
                                        <hr>
                                    </div>
                                    <div class="col-xl-10">
                                        <div class="card">
                                            <div class="card-header">
                                                Mensaje de alerta TEMPRANA
                                            </div>
                                            <div v-if="(init_questions.questionsR['1'] || init_questions.questionsR['2'] ||
                                            init_questions.questionsR['3']) && (init_questions.questionsR['5']===false && (((Date.now() -
                                            new Date(init_questions.dateValue).getTime()) / (1000 * 3600 * 24))>5))===false" class="card-body FondoRojo">
                                                El paciente es altamente sospechoso para CoVID – 19
                                            </div>
                                            <div v-else-if="(init_questions.questionsR['1'] || init_questions.questionsR['2'] ||
                                            init_questions.questionsR['3'])===false &&(init_questions.questionsR['5']===false && (((Date.now() -
                                            new Date(init_questions.dateValue).getTime()) / (1000 * 3600 * 24))>5))" class="card-body FondoRojo">
                                                Evalué detalladamente cada uno de los síntomas para valoración de
                                                urgencias si es necesario
                                            </div>
                                            <div v-else-if="(init_questions.questionsR['1'] || init_questions.questionsR['2'] ||
                                            init_questions.questionsR['3']) && (init_questions.questionsR['5']===false && (((Date.now() -
                                            new Date(init_questions.dateValue).getTime()) / (1000 * 3600 * 24))>5))" class="card-body FondoRojo">
                                                El paciente es altamente sospechoso para CoVID – 19

                                                Evalué detalladamente cada uno de los síntomas para valoración de
                                                urgencias si es necesario
                                            </div>
                                            <div v-else class="card-body">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-2 text-right align-items-center button-box">
                                        <button type="button" class="btn btn-success btn-lg" :disabled="completed===false" @click="setInitQuestions">
                                            siguiente
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        name: "initQuestions",
        data(){
            const now = new Date()
            const today = new Date(now.getFullYear(), now.getMonth(), now.getDate())
            return{
                max: today
            }
        },
        methods: {
            setInitQuestions() {
                let questionsR= Object.values(this.init_questions.questionsR)
                let markedQ=[]
                let questions=this.questions
                for (let i=0; i<questionsR.length;i++){
                    if(questionsR[i]){
                        markedQ.push(questions[i].id)
                    }
                }
                this.init_questions.questionsI=markedQ
                this.$store.dispatch('setInit_questions',this.init_questions)
                this.$router.push({name: "symptoms"});
            },
            changeResponse(q,r){
                this.init_questions.questionsR[q]=r
                this.$store.dispatch('setInit_questions',this.init_questions)
            },
            changeDate(){
                this.$store.dispatch('setInit_questions',this.init_questions)
            }
        },
        computed: {
            datePati(){
                let pati = Object.values(this.$store.getters.patient)
                let minDate = new Date()
                minDate.setFullYear(pati[5])
                switch(pati[4]){
                    case 'Enero':
                        minDate.setMonth(0)
                        break;
                    case 'Febrero':
                        minDate.setMonth(1)
                        break;
                    case 'Marzo':
                        minDate.setMonth(2)
                        break;
                    case 'Abril':
                        minDate.setMonth(3)
                        break;
                    case 'Mayo':
                        minDate.setMonth(4)
                        break;
                    case 'Junio':
                        minDate.setMonth(5)
                        break;
                    case 'Julio':
                        minDate.setMonth(6)
                        break;
                    case 'Agosto':
                        minDate.setMonth(7)
                        break;
                    case 'Septiembre':
                        minDate.setMonth(8)
                        break;
                    case 'Octubre':
                        minDate.setMonth(9)
                        break;
                    case 'Noviembre':
                        minDate.setMonth(10)
                        break;
                    case 'Diciembre':
                        minDate.setMonth(11)
                        break;
                }
                return minDate
            },
            patient() {
                return this.$store.getters.patient;
            },
            init_questions(){
              return this.$store.getters.init_questions;
            },
            completed(){
                let questions= Object.values(this.init_questions.questionsR)
                for (let i=0; i<questions.length;i++){
                    if(typeof questions[i]==="undefined" || this.init_questions.dateValue===""){
                        return false
                    }
                }
                return true
            },
            questions() {
                return this.$store.getters.questions;
            }
        },
        async mounted(){
            await this.$store.dispatch("getQuestionsCategory");
        }
    }
</script>

<style scoped>
    .card {
        min-height: 140px;
    }

    .card label {
        border: solid 6px #FFFFFF;
    }

    .card-header {
        font-size: 22px;
        text-align: center;
        font-weight: bold;
        padding: 6px;
    }

    .button-box{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .boxed-btn:hover{
        background-color: #FFFFFF;
        color: #296ea4 !important;
    }

    .selected{
        color: #fff !important;
        background: #0181f5;
        /* Old browsers */
        background: -moz-linear-gradient(left, #0181f5 0%, #5db2ff 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #0181f5 0%, #5db2ff 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #0181f5 0%, #5db2ff 100%);
    }

    .selected:hover{
        color: #fff !important;
    }

    .FondoRojo {
        background-color: #FF0000;
        color: #FFFFFF;
    }

    .FondoAmarillo {
        background-color: #FFFF00;
        color: #000000;
    }

    .FondoAzul {
        background-color: #5297F7;
        color: #FFFFFF;
    }
</style>
