<template>
  <div class="book_apointment_area">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-lg-12">
          <div class="popup_box" style="padding-top: 16px;">
            <div class="popup_inner">
              <div class="alert alert-primary" style="text-align: center;" role="alert">
                Paciente
                <b>{{patient.gender}}</b> con edad
                <b style="text-transform: lowercase;">{{patient.agecategory}}</b>, afiliado a
                <b>{{patient.eps.name}}</b>. Residente en
                <b>{{patient.city.name}}</b>
                <span v-if="patient.city.name == 'BOGOTÁ (BOGOTÁ D.C., COLOMBIA)'">
                  en la localidad de
                  <b>{{patient.location_text}}</b>
                </span>.
              </div>
              <h3 style="font-size: 2em; text-align: center; margin-bottom: 16px;">
                <span class="titulo">El paciente {{symptomsselected}}</span>
              </h3>
              <form action="#">
                <div class="row">
                  <div class="col-xl-7">
                    <div class="card">
                      <div class="card-header">Patologías asociadas</div>
                      <div
                        :class="['btn-group-vertical btn-group-toggle']"
                        v-for="(q, idx) in questions"
                        :key="'q'+idx"
                      >
                        <label
                          :class="[ 'btn btn-primary',(checkedResponse(q) ? 'activegreen':''),  disabledQuestions ? 'disabledQuestions' : '']"
                        >
                          <div class="question">
                            <input
                                    class="checkdestino"
                                    type="checkbox"
                                    v-model="checkedResponses"
                                    :value="q"
                                    @change="handleResponse(idx,q.result_action.level)"
                                    :checked="checkedResponse(q)"
                                    :disabled="disabledQuestions && ( q.body != 'Ninguno de los anteriores' && q.body != 'No tiene dificultad para respirar' && q.body != 'No tiene tos' && q.body != 'Normal' && q.body != 'Toma líquidos / se alimenta bien' && q.body != 'No')"
                            />
                            {{q.body}}
                            <div>
                              {{idx+1}}
                            </div>
                          </div>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-5">
                    <div class="card">
                      <div class="card-header">Clasificación de riesgo</div>
                      <div v-for="(s, idx) in pageSymptoms" :key="idx" :class="['card-body','symptom', s.emergencyL]">
                        <div class="convention">
                          {{s.id}}
                        </div>
                        <div>
                          <p class="text-justify"  v-html="viñetas(s.text)"></p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-12">
                    <hr />
                  </div>
                  <div class="col-xl-4 text-left">
                    <b-link
                      to="/diagnostic"
                      class="genric-btn primary-border e-large genric-btn2"
                    >Volver al inicio</b-link>
                  </div>
                  <div class="col-xl-2 text-center">
                    <a
                      href="#"
                      :class="['genric-btn', 'success', 'circle' , (specialtiesIndex == 0 ) ? 'btn-disabled' : '']"
                      @click="changeSymptom(0)"
                    >Anterior</a>
                  </div>
                  <div class="col-xl-2 text-center">
                    <a
                      href="#"
                      :class="['genric-btn', 'success', 'circle' , (specialtiesIndex == 5 || pageSymptoms.length == 0) ? 'btn-disabled' : '']"
                      @click="changeSymptom(1)"
                    >Siguiente</a>
                  </div>
                  <div class="col-xl-4 text-right">
                    <b-link
                      @click="endmodal"
                      :class="['genric-btn', 'primary', 'e-large' , (checkedResponses.length == 0 ) ? 'btn-disabled' : '']"
                    >Ir a ventana de resumen</b-link>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" id="ModalValidacion" style="z-index: 9999999;" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">AVISO IMPORTANTE</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label text-justify">
                  El o la paciente ya tiene una clasificación de alerta roja, por lo tanto, no debe continuar
                  la evaluación, es fundamental la remisión inmediata a urgencias.
                  <br />

                  <p
                    class="FondoRojo text-justify"
                    v-for="s in checkedResponsesClean"
                    :key="s"
                    v-show="s.result_action.level == 1"
                  >{{s.answer}}</p>
                </label>

                  <h5 class="modal-title text-justify">
                    Si desea finalizar el diagnostico, por favor digite: "aceptar" en el campo disponible y luego
                    seleccione la opción Ir a ventana de resumen, por el contrario, si desea  continuar con el diagnostico
                    , seleccione la opción Retornar.
                  </h5>
                </div>
                <input
                  v-on:keydown.enter.prevent
                  v-model="recipientname"
                  type="text"
                  class="form-control"
                  id="recipient-name"
                  placeholder="aceptar"
                />
            </form>
          </div>
          <div class="modal-footer">
            <button
              data-dismiss="modal"
              aria-label="Close"
              type="button"
              class="btn btn-success"
            >Retornar</button>
            <button
              @click="end"
              type="button"
              :class="['btn', 'btn-warning',(recipientname == 'aceptar' ) ? '' : 'btn-disabled']"
              style="color:white;"
            >Ir a ventana de resumen</button>
          </div>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>

    <div class="modal" id="ModalValidacion2" style="z-index: 9999999;" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-justify">
              Si desea finalizar el diagnostico, por favor digite: "aceptar" en el campo disponible y luego seleccione
              la opción Ir a ventana de resumen, por el contrario, si desea  continuar con el diagnostico,
              seleccione la opción Retornar.
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <form>
              <div class="form-group">
                <input
                  v-on:keydown.enter.prevent
                  v-model="recipientname"
                  type="text"
                  class="form-control"
                  id="recipient-name2"
                  placeholder="aceptar"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              data-dismiss="modal"
              aria-label="Close"
              type="button"
              class="btn btn-success"
            >Retornar</button>
            <button
              @click="end"
              type="button"
              :class="['btn', 'btn-warning',(recipientname == 'aceptar' ) ? '' : 'btn-disabled']"
              style="color:white;"
            >Ir a ventana de resumen</button>
          </div>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "questions",
  data: function() {
    return {
      checkedResponses: [],
      recipientname: "",
      pageSymptoms:[],
    };
  },
  methods: {
    viñetas(str){
      var res = str.split(".");
      let ret = "";
      for(let i in res){
        ret += "<li>"+res[i]+"</li>"
      }
      return ret;
    },
    checkedResponse(q) {
      return this.checkedResponses.find(item => item === q) != undefined;
    },
    pageSymptom(){
      let checkedR=this.checkedResponses

      let answers=[]
      for (let q in this.questions){
        answers.push(this.questions[q].answer.replace(/\s+/g, " "))
      }

      let currentResponses= checkedR.filter(r=>{
        let ind=this.getInd(answers,r.answer.replace(/\s+/g, " "))
        let found=false
        for(let i in ind){
          if(this.marked[ind[i]]){found=true}
        }
        console.log(found)
        return answers.includes(r.answer.replace(/\s+/g, " ")) && found
      })

      let answers2=[]
      for (let q in currentResponses){
        answers2.push(currentResponses[q].answer.replace(/\s+/g, " "))
      }
      let uniqueAnswers= [...new Set(answers2)]
      let pageSymptoms=[]
      for(let a in uniqueAnswers){
        let convention=''
        let level=0;
        for(let q in this.questions){
          if (uniqueAnswers[a] ===this.questions[q].answer.replace(/\s+/g, " ")
                  && this.marked[q]){
            let num=parseInt(q)+1
            convention=convention+'.'+num
            level=parseInt(this.questions[q].result_action.level)
          }
        }
        pageSymptoms.push({id:convention, text:uniqueAnswers[a], emergencyL:this.emergency(level)})
      }
      function compare(a, b) {
        // Use toUpperCase() to ignore character casing
        const symptomA = a.id;
        const symptomB = b.id;

        let comparison = 0;
        if (symptomA > symptomB) {
          comparison = 1;
        } else if (symptomA < symptomB) {
          comparison = -1;
        }
        return comparison;
      }

      this.pageSymptoms= pageSymptoms.sort(compare)
    },
    handleResponse(id,level){
      if(id===this.questions.length-1){
        for(let i=0; i<this.marked.length-1;i++){
          this.marked[i]=false
        }
        this.marked[id]=!this.marked[id]
      } else {
        this.marked[id]=!this.marked[id]
        this.marked[this.questions.length-1]=false
        if(level===1 && this.marked[id]){
          /* eslint-disable */
          $("#ModalValidacion").modal("show");
          /* eslint-enable */
        }
      }
    },
    emergency(s){
      if(s===1){
        return 'FondoRojo'
      } else if(s===2){
        return 'FondoAmarillo'
      } else if(s===3){
       return 'FondoVerde'
      }
    },

    endmodal() {
      if (this.checkedResponses.length > 0) {
        /* eslint-disable */
        $("#ModalValidacion2").modal("show");
        /* eslint-enable */
      }
    },
    end() {
      if (this.recipientname == "aceptar") {
        /* eslint-disable */
        $("#ModalValidacion").modal("toggle");
        $("#ModalValidacion2").modal("toggle");
        $(".modal-backdrop").remove();
        /* eslint-enable */
        this.$router.push({ name: "result" });
      }
    },
    changeSymptom(dir) {
      if(dir==0) {
          this.$store.dispatch("changeSymptom", dir).then(()=>{
            for(let i=0;i<this.questions.length;i++){
              this.marked[i]=this.checkedResponse(this.questions[i])
            }
            this.pageSymptom()
          });
      } else if(dir==1){
        if(this.pageSymptoms.length>0){
          this.$store.dispatch("changeSymptom", dir).then(()=>{
            console.log('Moving right')
            for(let i=0;i<this.questions.length;i++){
              this.marked[i]=this.checkedResponse(this.questions[i])
            }
            this.pageSymptom()
          })
        }
      }
      // if (dir == 1) {
      //   if (this.specialtiesIndex < 5) {
      //     this.$store.dispatch("changeSymptom", dir);
      //   }
      // } else if (dir == 0) {
      //   if (this.specialtiesIndex > 0) {
      //     this.$store.dispatch("changeSymptom", dir);
      //   }
      // }
    },
    getInd(arr, val) {
      let index = [], i = -1;
      while ((i = arr.indexOf(val, i+1)) != -1){
        index.push(i);
      }
      return index;
    }
  },
  mounted() {
    if (this.$store.getters["patient"].agecategory == null) {
      this.$router.push({ name: "diagnostic" });
    }
  },
  computed: {
    marked(){
      let marked=[]
      for(let q; q<this.questions.length;q++){
        marked.push(false)
      }
      return marked
    },
    disabledQuestions() {
      if (this.questions && this.checkedResponses) {
        var notvalue = "";
        var fnot = this.questions.find(function(q) {
          return (
            q.body === "Ninguno de los anteriores" ||
            q.body === "No tiene dificultad para respirar" ||
            q.body === "No tiene tos" ||
            q.body === "Normal" ||
            q.body === "Toma líquidos / se alimenta bien" ||
            q.body === "No"
          );
        });

        var qnot = this.checkedResponses.find(function(q) {
          return q.body === fnot.body;
        });

        if (qnot) {
          notvalue = qnot.body;
        }

        return this.questions.filter(e => e.body === notvalue).length > 0;
      } else {
        return false;
      }
    },
    checkedResponsesClean() {
      return this.checkedResponses.filter(
        (v, i, a) =>
          a.findIndex(t => t.result_action.id === v.result_action.id) === i
      );
    },
    levelemergency() {
      if (this.checkedResponses.length > 0) {
        var emergencianum = Math.min.apply(
          null,
          this.checkedResponses.map(c => c.result_action.level)
        );
        if (emergencianum == 1) {
          return "FondoRojo";
        }

        if (emergencianum == 2) {
          return "FondoAmarillo";
        }

        if (emergencianum == 3) {
          return "FondoVerde";
        }

        return emergencianum;
      } else {
        return "";
      }
    },
    specialtiesIndex() {
      return this.$store.getters.specialtiesIndex;
    },
    symptomsselected() {
      return this.$store.getters.symptomsselected;
    },
    symptoms() {
      return this.$store.getters.symptoms;
    },
    symptomstemp() {
      return this.$store.getters.symptomstemp;
    },
    patient() {
      return this.$store.getters.patient;
    },
    questions() {
      return this.$store.getters.questions;
    },
  },
  watch: {
    checkedResponses: function(val) {
      try {
        var fnot = this.questions.find(function(q) {
          return (
            q.body === "Ninguno de los anteriores" ||
            q.body === "No tiene dificultad para respirar" ||
            q.body === "No tiene tos" ||
            q.body === "Normal" ||
            q.body === "Toma líquidos / se alimenta bien" ||
            q.body === "No"
          );
        });

        var qnot = val.find(function(q) {
          return q.body === fnot.body;
        });
        var temp2 = val.filter(x => this.questions.includes(x));

        if (qnot && temp2.length > 1) {
          var temp = val.filter(x => !this.questions.includes(x));
          temp.push(qnot);
          this.checkedResponses = temp;
        } else {
          this.checkedResponses = val;
        }

        this.$store.dispatch("setCheckedResponses", this.checkedResponses).then(()=>{
          this.pageSymptom();
        });
      } catch (err) {
        console.log(err);
      }
    },
    recipientname: function(val){
      this.recipientname= val.replace(/[0-9]|\W|_/,'')
    }
  }
};
</script>

<style>
  .question, .symptom{
    display: flex;
    justify-content: space-between;
  }

  .convention{
    margin-left: 0px;
    margin-right: 20px;
    display: flex;
    align-items: center;
  }

.popup_box {
  background: rgba(255, 255, 255, 0.7);
}
.activegreen {
  background: green;
}
.btn-primary:hover {
  background: orange !important;
}

.card {
  min-height: 380px;
}
.card label {
  border: solid 6px #ffffff;
}
.card-header {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  padding: 6px;
}
.FondoRojo {
  background-color: #ff0000;
  color: #ffffff !important;
}
.FondoRojo p,
.FondoVerde p {
  color: #ffffff !important;
}

.FondoAmarillo p {
  color: #000000;
}

.FondoAmarillo {
  background-color: #ffff00;
  color: #000000;
}

.FondoVerde {
  background-color: green;
  color: #ffffff;
}

.titulo {
  text-transform: lowercase;
}

.titulo:first-letter {
  text-transform: uppercase;
}

.genric-btn {
  text-transform: none !important;
  font-size: 1.3em !important;
  line-height: normal !important;
  height: 120px !important;
  font-weight: normal !important;
  display: table-cell !important;
  vertical-align: middle !important;
  /* padding-top: 30px; */
}

.btn-disabled {
  background: #9b9b9b !important;
  border: 1px solid transparent !important;
  cursor: not-allowed;
}
.btn-disabled:hover {
  color: white !important;
  border: 1px solid transparent !important;
}

/* .disabledQuestions {
  background: #9b9b9b !important;
}

.disabledQuestions:hover {
  background: #9b9b9b !important;
  cursor: not-allowed;
  border-color: transparent !important;
} */
</style>
