<template>
  <div class="book_apointment_area">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-lg-12">
          <div class="popup_box" style="padding-top: 16px;">
            <div class="popup_inner">
              <div class="alert alert-primary" style="text-align: center;" role="alert">
                Paciente
                <b>{{patient.gender}}</b> con edad
                <b>{{patient.agecategory}}</b>, afiliado a
                <b>{{patient.eps.name}}</b>. Residente en
                <b>{{patient.city.name}}</b>
                <span v-if="patient.city.name == 'BOGOTÁ (BOGOTÁ D.C., COLOMBIA)'">
                  en la localidad de
                  <b>{{patient.location}}</b>
                </span>
              </div>
              <h3
                style="font-size: 2em; text-align: center; margin-bottom: 16px;"
              >PACIENTE CLASIFICADO CON NIVEL DE URGENCIA</h3>
              <form action="#">
                <div class="row">
                  <div class="col-xl-3">
                  </div>
                  <div class="col-xl-6">
                    <div class="card">
                      <div :class="['card-body','text-center', letterType]">
                        <span v-if="levelemergency === 'FondoRojo'">TIPO III - ROJO</span>
                        <span
                                v-if="levelemergency === 'FondoAmarillo'"
                        >TIPO IV - AMARILLO</span>
                        <span
                                v-if="levelemergency === 'FondoVerde'"
                        >TIPO V - VERDE</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3">
                  </div>
                  <div class="col-xl-12">
                    <h3 style="font-size:x-large; text-align: center; margin-bottom: 16px;">
                      Recomendación a seguir</h3>
                  </div>
                  <div class="col-xl-3">
                  </div>
                  <div class="col-xl-6">
                    <div class="card">
                      <div :class="['card-body','text-center', levelemergency]">
                        <span v-if="levelemergency == 'FondoRojo'">Consulta servicio de urgencias</span>
                        <span
                                v-if="levelemergency == 'FondoAmarillo'"
                        >Consulta no programada o prioritaria</span>
                        <span
                                v-if="levelemergency == 'FondoVerde'"
                        >Solicitar consulta medica programada</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3">
                  </div>

                  <div class="col-xl-12">
                    <h3 style="font-size:x-large; text-align: center; margin-bottom: 16px;">
                      RESUMEN DE SINTOMAS PRESENTADOS POR EL PACIENTE</h3>
                  </div>

                  <div class="col-xl-2">
                  </div>
                  <div class="col-xl-8 text-center">
                    <div class="card">
                      <div class="card-body ">
                        <ul>
                          <li v-for="(r,index) in checkedResponses" :key="'r'+index">
                            <i class="flaticon-verified">&#10004;</i>{{r.body}}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-2">
                  </div>
                  <div class="col-xl-12">
                    <hr>
                  </div>
                  <div class="col-xl-12 text-center" style="padding-left: calc(50% - 220px);">
                    <b-link  class="genric-btn info e-large" @click="finish" to="/">
                      <span style="line-height: 120px;">Finalizar e iniciar una nueva consulta</span>
                    </b-link>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  data: function() {
    return {
      symptoms:this.$store.getters.symptomsselected
    };
  },
  name: "result",
  mounted: function() {
    if (this.$store.getters["patient"].agecategory == "") {
      this.$router.push({ name: "diagnostic" });
    }
    /* eslint-disable */
    $(".modal-backdrop").remove();
    $("body").removeClass("modal-open");
    /* eslint-enable */
  },
  methods: {
    finish() {
      this.$store.dispatch("finish",{
        "user_id" : this.$store.getters.user_id,
        "locality_id" : this.patient.location_id,
        "municipality_id" : this.patient.city.id,
        "age_range_id" : this.patient.agerange,
        "age" : this.patient.age,
        "symptoms_origin_date" : this.init_questions.dateValue,
        "gender" : this.patient.gender==='Masculino'?1:2,
        "company_id" : this.patient.eps.id,
        "result_action_id" : Math.min.apply(
          null,
          this.$store.getters.checkedresponses.map(c => c.result_action.level)
        ),
        "symptoms":this.symptoms_indexes
      }).then(() => {
        this.$router.push({ name: "diagnostic" });
      });
    }
  },
  computed: {
    checkedResponsesClean() {
      return this.$store.getters.checkedresponses.filter(
        (v, i, a) =>
          a.findIndex(t => t.result_action.id === v.result_action.id) === i
      );
    },
    checkedResponses(){
      return this.$store.getters.checkedresponses
    },
    levelemergency() {
      if (this.$store.getters.checkedresponses.length > 0) {
        var emergencianum = Math.min.apply(
          null,
          this.$store.getters.checkedresponses.map(c => c.result_action.level)
        );
        if (emergencianum == 1) {
          /* eslint-disable */
          $("#ModalValidacion").modal("show");
          /* eslint-enable */
          return "FondoRojo";
        }

        if (emergencianum == 2) {
          return "FondoAmarillo";
        }

        if (emergencianum == 3) {
          return "FondoVerde";
        }

        return emergencianum;
      } else {
        return "";
      }
    },
    letterType() {
      if (this.$store.getters.checkedresponses.length > 0) {
        var emergencianum = Math.min.apply(
                null,
                this.$store.getters.checkedresponses.map(c => c.result_action.level)
        );
        if (emergencianum == 1) {
          /* eslint-disable */
          /* eslint-enable */
          return "LetraRoja";
        }

        if (emergencianum == 2) {
          return "LetraAmarilla";
        }

        if (emergencianum == 3) {
          return "LetraVerde";
        }

        return emergencianum;
      } else {
        return "";
      }
    },
    patient() {
      return this.$store.getters.patient;
    },
    init_questions(){
      return this.$store.getters.init_questions
    },
    symptoms_indexes(){
      return [...this.init_questions.questionsI,...this.checkedResponses.map(r=>r.id)]
    }
  }
};
</script>

<style scoped>
.card label {
  border: solid 6px #ffffff;
}

.card, card-body{
  min-height: 70px;
}
.card-header {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  padding: 6px;
}
.FondoRojo {
  background-color: #ff0000;
  color: #ffffff;
}
.FondoAmarillo {
  background-color: #ffff00;
  color: #000000;
}
.FondoVerde {
  background-color: green;
  color: #ffffff;
}

.LetraRoja {font-size: 20px;color:red;}
.LetraAmarilla{font-size: 20px;color:rgb(221, 221, 0)}
.LetraVerde{font-size: 20px;color:green}

.flaticon-verified {
  font-size: 20px;
  color: green;
}

.genric-btn {
  text-transform: none !important;
  font-size: 1.3em !important;
  line-height: normal !important;
  height: 120px !important;
  font-weight: normal !important;
  display: table-cell !important;
  vertical-align: middle !important;
  /* padding-top: 30px; */
}
</style>
