<template>
  <div class="book_apointment_area">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-lg-12">
          <div class="popup_box" style="padding-top: 16px;">
            <div class="popup_inner">
              <div class="alert alert-primary" style="text-align: center;" role="alert">
                Paciente
                <b>{{patient.gender}}</b> con edad
                <b style="text-transform: lowercase;">{{patient.agecategory}}</b>, afiliado a
                <b>{{patient.eps.name}}</b>. Residente en
                <b>{{patient.city.name}}</b>
                <span v-if="patient.city.name == 'BOGOTÁ (BOGOTÁ D.C., COLOMBIA)'">
                  en la localidad de
                  <b>{{patient.location}}</b>
                </span>.
              </div>
              <h3 style="font-size: 2em; text-align: center; margin-bottom: 16px;">
                <span>¿Qué signos y síntomas presenta el paciente en este momento?</span>
              </h3>
              <form action="#">
                <div class="row">
                  <div class="col-xl-4 Centrar" v-for="s in symptoms" :key="s">
                    <b-link class="genric-btn info circle" @click="setSymptoms(s)">{{s}}</b-link>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "symptoms",
  methods: {
    setSymptoms(symptoms) {
      this.$store.dispatch("setSymptoms", symptoms).then(() => {
        this.$router.push({ name: "questions" });
      });
    }
  },
  mounted() {
    if (this.$store.getters["patient"].agecategory == "") {
      this.$router.push({ name: "diagnostic" });
    }
  },
  computed: {
    symptoms() {
      return this.$store.getters.symptoms;
    },
    patient() {
      return this.$store.getters.patient;
    }
  }
};
</script>

<style>
.Centrar {
  display: table;
  height: 120px;
  margin: 1.5em 0;
}
.genric-btn {
  text-transform: none !important;
  font-size: 1.3em !important;
  line-height: normal !important;
  height: 120px !important;
  font-weight: normal !important;
  display: table-cell !important;
  vertical-align: middle !important;
  /* padding-top: 30px; */
}
</style>
