<template>
    <div class="password-input">
        <div :class="className">
            <input type="password" :placeholder="placeholder" class="form-control" v-model.trim="passwordV.$model"
                   :class="{'is-invalid':passwordV.$error}"/>
            <div class="invalid-feedback">
                {{errorMsg}}
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from "vue";
    import Vuelidate from "vuelidate/src";
    Vue.use(Vuelidate);
    export default {
        name: "passwordInput",
        props:{
            placeholder:String,
            className:String,
            errorMsg:String,
            passwordV:Object
        }
    }
</script>

<style scoped>

</style>
