<template>
        <b-modal id="change-password-modal" hide-footer v-model="modalPassword">
            <div class="book_apointment_area" style="background:white;padding:0">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-sm-12">
                            <div class="popup_box">
                                <div class="popup_inner">
                                    <h3>Cambio de contraseña</h3>
                                    <password-input class-name="col-sm-12" placeholder="Contraseña actual"
                                                    error-msg="Debe introducir su contraseña actual"
                                    :password-v="$v.currentPassword">
                                    </password-input>
                                    <password-input class-name="col-sm-12" placeholder="Nueva Contraseña"
                                                    error-msg="8 caracteres mínimo: Debe contener al menos una mayúscula,
                                                              una minúscula, un número y un carácter especial"
                                                    :password-v="$v.newPassword">
                                    </password-input>
                                    <password-input class-name="col-sm-12" placeholder="Vuelve a escribir contraseña"
                                                    error-msg="Debe coincidir con el campo anterior"
                                                    :password-v="$v.confirmPassword">
                                    </password-input>
                                    <div class="col-sm-12">
                                        <button
                                                @click="changeP"
                                                type="submit"
                                                :class="$v.$invalid? 'boxed-btn3 btn-disabled' : 'boxed-btn3'"
                                                :disabled="$v.$invalid"
                                                style="text-transform: none;"
                                        >Cambiar Contraseña</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </b-modal>
</template>

<script>
    import {required, sameAs , minLength} from "vuelidate/lib/validators"
    import Vue from "vue";
    import Vuelidate from "vuelidate/src";
    Vue.use(Vuelidate);
    import passwordInput from "./formComponents/passwordInput";
    export default {
        name: "changePassword",
        components:{
            passwordInput
        },
        methods:{
            changeP(){
                console.log(this.currentPassword)
            }
        },
        data(){
            return{
                modalPassword:false,
                currentPassword:"",
                newPassword:"",
                confirmPassword:""
            }
        },
        validations:{
            currentPassword:{
                required
            },
            newPassword:{
                required,
                minLength:minLength(8),
                isPassword(value){
                    return new Promise(resolve => {
                        setTimeout(() => {
                            resolve(
                                /[a-z]/.test(value) && // checks for a-z
                                /[A-Z]/.test(value) && // checks for A-Z
                                /[0-9]/.test(value) && // checks for 0-9
                                /\W|_/.test(value) && // checks for special char
                                value.length >= 8
                            )
                        }, 350 + Math.random() * 300)
                    })
                }
            },
            confirmPassword:{
                required,
                sameAsPassword:sameAs('newPassword')
            }
            }
        }
</script>

<style scoped>
    .btn-disabled {
        background: #9b9b9b !important;
        cursor: not-allowed;
    }

    .btn-disabled:hover {
        color: white !important;
        cursor: not-allowed;
        border: 1px solid transparent !important;
    }
</style>
