<template>
    <v-select
            :options="document_types"
            label="name"
            placeholder="Tipo de documento"
            :value="value"
            @input="updateType"
    ></v-select>
</template>

<script>
    export default {
        name: "document_type",
        props: ["value"],
        methods: {
            updateType(type) {
                this.$emit("input", type);
            }
        },
        async mounted() {
            await this.$store.dispatch("getDocumentTypes");
            /*eslint-disable */
            $("select").niceSelect();
            /*eslint-enable */
        },
        computed: {
            document_types() {
                return this.$store.getters.documentTypes;
            }
        }
    }
</script>

<style scoped>

</style>
