<template>
  <footer class="footer">
    <div class="footer_top">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-md-6 col-lg-4">
            <div class="footer_widget">
              <h3 class="footer_title">Motivación</h3>
              <p
                class="address_text"
              >Conforme a los eventos de contagio masivo y de crecimiento exponencial que ha presentado el CoVid 19 a nivel mundial, se ha buscado la mitigación de este virus, a partir de la incorporación de alternativas basadas en TIC’s, con el fin de brindar un apoyo al sistema de salud Colombiano.</p>
              <!-- Debido a que no hay redes sociales se quita los iconos de las mismas 
              <div class="social_links">
                <ul>
                  ><li>
                    <a href="#">
                      <i class="ti-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="ti-twitter-alt"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-dribbble"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>
              -->
            </div>
          </div>
          <div class="col-xl-4 col-md-6 col-lg-4">
            <div class="footer_widget">
              <h3 class="footer_title" style="text-transform: none;">Iniciativa de trabajo de</h3>
              <br />
              <div class="footer_logo">
                <a href="http://www.saludcapital.gov.co/" target="_blank">
                  <img
                    src="@/assets/img/alcaldiabn_logo.png"
                    width="180px"
                    alt="Secretaría de salud de Bogotá"
                  />
                </a>
              </div>
              <div class="footer_logo">
                <a
                  href="https://site.ieee.org/sb-usil/communities/robotics-automation-society-chapter/"
                  target="_blank"
                >
                  <img
                    src="@/assets/img/IEEE_RAS_logo_600_Bn.png"
                    width="145px"
                    alt="IEEE Robotics & Automation Society (RAS)"
                  />
                </a>
                </div>
              <div class="footer_logo">
                <a href="https://ieee.org.co/" target="_blank">
                  <img src="@/assets/img/LOGO-IEEE-COLOMBIA-light.png"
                       width="145px"
                       alt="IEEE Colombia"/>
                </a>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-md-6 col-lg-4">
            <div class="footer_widget">
              <h3 class="footer_title" style="text-transform: none;">Trabajo colaborativo</h3>
              <p class="address_text">
                Realizado por un equipo de profesionales voluntarios.
                <br />
                <br />
                <b-link to="/credits" style="text-decoration: underline; font-size: 120%">Ver los créditos del equipo</b-link>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copy-right_text">
      <div class="container">
        <div class="row">
          <div class="bordered_1px"></div>
          <div class="col-xl-12">
            <p class="copy_right text-center">
              Copyright &copy;2020 All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style>
</style>
