<template>
  <div class="header-area">
    <b-navbar toggleable="lg" type="dark" id="sticky-header" class="main-header-area" fixed="top">
        <div class="container">
            <b-navbar-brand>
              <div class="col-xl-3 col-lg-3">
                <div class="logo-img">
                  <b-link to="/">
                    <img
                            src="@/assets/img/teletriage-logo-light.png"
                            alt="Teletriage"
                            style="max-height: 100px;"
                    />
                  </b-link>
                </div>
              </div>
            </b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
              <b-navbar-nav class="ml-auto">
                  <b-nav-item class="navbar-brand" to="/">Inicio</b-nav-item>
                  <b-nav-item class="navbar-brand" to="/about" style="text-transform: none;">Acerca del sistema</b-nav-item>
                  <b-nav-item class="navbar-brand" to="/credits" style="text-transform: none;">Créditos</b-nav-item>
                  <b-nav-item class="navbar-brand" to="/help" style="text-transform: none;">Ayuda</b-nav-item>
                <b-nav-item-dropdown class="navbar-brand" :text="user_email" v-if="isAuth" right>
                  <b-dropdown-item v-b-modal.change-password-modal>Cambiar Contraseña</b-dropdown-item>
                  <b-dropdown-item @click="logout">Cerrar Sesión</b-dropdown-item>
                </b-nav-item-dropdown>
                  <b-button variant="light" v-b-modal.Login_Modal v-else>Ingresar al sistema</b-button>
              </b-navbar-nav>
            </b-collapse>
        </div>
      </b-navbar>
    <Login />
    <change-password/>
  </div>
</template>

<script>
import Login from "@/components/Login.vue";
import changePassword from "./changePassword";

export default {
  name: "Header",
  methods: {
    logout() {
      this.$store.dispatch("logout").then(() => {
        this.$router.push({ name: "home" });
      });
    }
  },
  components: {
    Login,
    changePassword
  },
  computed: {
    isAuth() {
      return this.$store.getters.isAuth;
    },
    user_email(){
      return this.$store.getters.user_email;
    }
  }
};
</script>

<style>
  .btn, .btn-link{
    text-decoration: none;
    border: none;
  }
  #sticky-header{
   padding: 0;
  }
  .btn, .btn-link:hover{
    text-decoration: none;
    border: none;
  }
</style>
