<template>
    <div id="LoginModal">
        <b-modal id="Login_Modal" hide-footer hide-header-close hide-header v-model="modalShow">
            <div>
                <b-tabs content-class justified>
                    <b-tab title="Iniciar Sesión" active>
                        <div class="book_apointment_area" style="background:white;padding:0">
                            <div class="container">
                                <div class="row justify-content-end">
                                    <div class="col-sm-12">
                                        <div class="popup_box">
                                            <div class="popup_inner">
                                                <h3>Acceder al sistema</h3>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input
                                                                type="text"
                                                                placeholder="Escribe tu email"
                                                                v-model="form_login.email"
                                                        />
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <input
                                                                type="password"
                                                                placeholder="Escribe tu contraseña"
                                                                v-model="form_login.password"
                                                        />
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <p class="forgot-password" @click="modal2show=!modal2show">
                                                            ¿Olvidó su contraseña?</p>
                                                    </div>
                                                    <br>
                                                    <br>
                                                    <div class="col-sm-12">
                                                        Recordar ésta sesión&nbsp;&nbsp;
                                                        <div class="confirm-switch d-sm-inline-flex">
                                                            <input
                                                                    type="checkbox"
                                                                    id="confirm-switch"
                                                                    checked
                                                                    v-model="form_login.rememberMe"
                                                            />
                                                            <label for="confirm-switch"></label>
                                                        </div>
                                                        <br/>
                                                        <br/>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <button
                                                                @click="login"
                                                                class="boxed-btn3"
                                                                style="text-transform: none;"
                                                        >Ingresar al sistema
                                                        </button>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <b-alert
                                                                variant="danger"
                                                                fade
                                                                :show="form_login.msg_error != ''"
                                                        >{{form_login.msg_error}}
                                                        </b-alert>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </b-tab>
                    <b-tab title="Registrarse">
                        <div class="book_apointment_area" style="background:white;padding:0">
                            <div class="container">
                                <div class="row justify-content-end">
                                    <div class="col-sm-12">
                                        <div class="popup_box">
                                            <div class="popup_inner">
                                                <h3>Registro</h3>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <input type="text" placeholder="Nombre" v-model="form_register.name"/>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <input type="text" placeholder="Apellido" v-model="form_register.last_name"/>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <input type="email"  v-model="form_register.email" placeholder="Email"/>
                                                        </div>
                                                        <div class="col-sm-12 mb-3" id="id-type">
                                                            <Document_type v-model="form_register.id_type"></Document_type>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <input type="text" placeholder="Cédula" v-model="form_register.document"/>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <input type="text" placeholder="Registro médico" v-model="form_register.medical_license"/>
                                                        </div>
                                                        <div class="col-sm-12 mb-3">
                                                            <Eps v-model="form_register.eps"/>
                                                        </div>
                                                        <div class="col-sm-12 mb-3">
                                                            <Specialities v-model="form_register.speciality"/>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <input type="password" placeholder="Contraseña" v-model="form_register.password"/>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <input type="password" placeholder="Confirmar contraseña"
                                                                   v-model="form_register.password_confirmation"/>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <b-form-checkbox size="lg" v-model="form_register.terms_accepted"
                                                                             :value="true"
                                                                             :unchecked-value="false">
                                                                <p class="forgot-password" @click="modal3show=!modal3show">
                                                                    Acepta los términos y condiciones</p>
                                                            </b-form-checkbox>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <button
                                                                    @click="signup"
                                                                    class="boxed-btn3"
                                                                    style="text-transform: none;"
                                                            >Registrarme
                                                            </button>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </b-tab>
                </b-tabs>
            </div>
        </b-modal>
        <b-modal id="forgot-password-modal" hide-footer v-model="modal2show">
            <div class="book_apointment_area" style="background:white;padding:0">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-sm-12">
                            <div class="popup_box">
                                <div class="popup_inner">
                                    <h3>Recuperación de contraseña</h3>
                                    <div class="row">
                                        <p>Se enviará una contraseña temporal a la dirección de correo
                                            asociado al registro en la herramienta, por favor puede escribir el
                                            correo para confirmar el envío.</p>
                                    </div>
                                    <div class="col-sm-12">
                                        <input
                                                type="text"
                                                placeholder="Escribe tu email"
                                                v-model="form_login.email"
                                        />
                                    </div>
                                    <div class="col-sm-12">
                                        <input type="number" placeholder="Número de documento"/>
                                    </div>
                                    <div class="col-sm-12">
                                        <button
                                                onclick="recoverPassword;"
                                                type="submit"
                                                class="boxed-btn3"
                                                style="text-transform: none;"
                                        >Recuperar Contraseña
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </b-modal>
        <b-modal id="terms-modal" hide-footer v-model="modal3show">
            <div class="book_apointment_area" style="background:white;padding:0">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-sm-12">
                            <div class="popup_box">
                                <div class="popup_inner">
                                    <h3>Términos y condiciones</h3>
                                    <div class="row">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </b-modal>
    </div>
</template>

<script>
    import Eps from "./Eps";
    import Specialities from "./Specialities";
    import Document_type from "./document_type";
    export default {
        components: {
            Document_type,
            Eps,
            Specialities
        },
        data: function () {
            return {
                modalShow: false,
                modal2show: false,
                modal3show:false,
                form_login: {
                    email: "",
                    password: "",
                    rememberMe: false,
                    msg_error: ""
                },
                form_register: {
                    name:"",
                    email:"",
                    password: "",
                    password_confirmation:"",
                    last_name:"",
                    id_type: null,
                    document:"",
                    medical_license:"",
                    eps:null,
                    speciality:null,
                    terms_accepted:false,
                    msg_error: ""
                }
            };
        },
        methods: {
            login() {
                this.$store
                    .dispatch("login", this.form_login)
                    .then(() => {
                        this.modalShow = false;
                        this.$router.push({name: "diagnostic"});
                    })
                    .catch(e => {
                        let self = this;
                        setTimeout(function () {
                            e
                            self.form_login.msg_error = "";
                        }, 5000);
                        this.form_login.msg_error = "Los datos son invalidos";
                    });
            },
            signup() {
                this.$store.dispatch("signUp", {
                        "name": this.form_register.name,
                        "email": this.form_register.email,
                        "password": this.form_register.password,
                        "password_confirmation": this.form_register.password_confirmation,
                        "last_name": this.form_register.last_name,
                        "document_type_id": this.form_register.id_type.id,
                        "document": this.form_register.document,
                        "medical_licence": this.form_register.medical_license,
                        "company_id": this.form_register.eps.id,
                        "speciality_id": this.form_register.speciality.id
                    })
                        this.modalShow = false;
            }
        }
    };
</script>
<style>
    .forgot-password {
        color: #007bff;
    }

    #id-type {
        margin-top: 12.5px;
        margin-bottom: 0px;
    }

    .forgot-password:hover {
        color: #0d448f;
        cursor: pointer;
    }
</style>
