<template>
  <v-select
    :options="municipalities"
    label="name"
    placeholder="Seleccione la ciudad en la que esta ubicado."
    :value="value"
    @input="updateCity"
  ></v-select>
</template>

<script>
export default {
  name: "MunicipalitiesSelect",
  props: ["value"],
  methods: {
    updateCity(city) {
      this.$emit("input", city);
    }
  },
  async mounted() {
    await this.$store.dispatch("getMunicipalities");
    /*eslint-disable */
    $("select").niceSelect();
    /*eslint-enable */
  },
  computed: {
    municipalities() {
      return this.$store.getters.municipalities;
    }
  }
};
</script>

<style>
.vs__search,
.vs__search:focus {
  height: 30px !important;
  -webkit-appearance: none;
  -moz-appearance: none !important;
  appearance: none !important;
  line-height: 1.4;
  font-size: 1em !important;
  border: 1px solid transparent !important;
  border-left: none !important;
  outline: none;
  margin: 4px 0 0;
  padding: 0 7px !important;
  background: none;
  box-shadow: none;
  width: 0 !important;
  max-width: 100%;
  flex-grow: 1;
  margin-left: 8px;
}
.vs__search:focus {
  height: 50px !important;
}
.vs__actions {
  display: flex;
  align-items: center;
  padding: 4px 28px 0 3px;
}

.vs--single.vs--open .vs__selected {
  position: absolute;
  opacity: 0.4;
  top: 15px;
}
.vs__selected {
  margin-left: 8px;
  color: #919191;
}
.vs__clear {
  fill: rgba(60, 60, 60, 0.5);
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 3px;
}
</style>