<template>
    <v-select
            :options="specialities"
            label="name"
            placeholder="Seleccione su área de especialidad"
            :value="value"
            @input="updateSpeciality"
    ></v-select>
</template>

<script>
    export default {
        name: "SpecialitiesSelect",
        props: ["value"],
        methods: {
            updateSpeciality(speciality) {
                this.$emit("input", speciality);
            }
        },
        async mounted() {
            await this.$store.dispatch("getSpecialties");
            /*eslint-disable */
            $("select").niceSelect();
            /*eslint-enable */
        },
        computed: {
            specialities() {
                return this.$store.getters.specialties;
            }
        }
    }
</script>

<style scoped>

</style>
