<template>
    <div class="col-lg-3 col-md-6">
        <div class="single_expert">
            <div class="expert_thumb" v-if="imgSrc!==''">
                
                <div class="img circular--square" 
                :style="{'background-image': 'url(' + require('../assets/img/'+imgSrc) + ')'}">   
                        
                </div>
            </div>
            <div class="experts_name text-center">
                <h3>{{name}}</h3>
                <span>{{role}}</span>
                <a v-if="email !== ''"
                        :href="'mailto:'+email+'?Subject=Interesado%20en%20tu%20perfil'" target="_blank"
                ><i class="ti-email"></i> E-mail</a>
                <div class="social_links">
                    <div v-if="linkedIn!==''">
                        <a :href="linkedIn" target="_blank">
                            <i class="ti-linkedin"></i> LinkedIn
                        </a>
                    </div>
                    <div v-if="twitter !== ''">
                        <a :href="twitter" target="_blank">
                            <i class="ti-twitter-alt"></i> Twitter
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Volunteer",


        props: {
            imgSrc: String,
            name: String,
            role: String,
            email: String,
            linkedIn: String,
            twitter: String
        }
    }
</script>

<style scoped>
    .img{
        background-size: 100% 100%;
    }
    
</style>
